* {
    margin: 0;
    padding: 0;
    border: none;
}
html,
body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}
#map {
    height: 100%;
}

.b-wrap {
    width: 100%;
    min-width: 1280px;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.b-popup {
    position: absolute;
    width: 25%;
    min-width: 480px;
    top: 0;
    left: 0;
    bottom: 0;
    box-sizing: border-box;
    transition: margin ease .3s;
}
.m-popup_hide {
    margin-left: -25%;
}
.b-popup__header {
    position: relative;
    height: 7%;
    background: url('../img/popup-header-bg.png') no-repeat;
    background-size: 100% 100%;
    z-index: 2;
}
.b-popup__inner {
    position: relative;
    height: 100%;
    background: #fff;
    padding: 0 0 0 20px;
    box-shadow: 0 0 10px 5px RGBA(0, 0, 0, .5);
    z-index: 1;
}
.b-popup__content {
    width: 400px;
}
.b-popup__close {
    position: absolute;
    width: 25px;
    height: 25px;
    top: 50%;
    margin-top: -12px;
    right: 25px;
    cursor: pointer;
    background: url('../img/close-button.png') no-repeat;
    transition: opacity .3s;
    opacity: .5;
    z-index: 2;
}
.b-popup__close:hover {
    opacity: .75;
}

.b-popup-title {
    background: #00b287;
    height: 24px;
    line-height: 22px;
    color: #fff;
    padding-left: 7px;
    font-size: 16px;
}
.m-popup-title_information {
    margin-top: 25px;
}

.b-params-list {
    list-style: none;
    margin-top: 16px;
}
.b-params-list__item {
    background: url('../img/param-list-li-bg.png') no-repeat left center;
    margin-left: 10px;
    padding-left: 25px;
    min-height: 25px;
    margin-top: 12px;
    font-size: 14px;
    font-weight: 700;
    color: #555;
    display: flex;
    align-items: center;
}
.b-params-list__value {
    font-weight: 900;
}
.b-params-list__item:first-child {
    margin-top: 0;
}

.b-infowindow {
    position: absolute;
    width: 15%;
    min-width: 300px;
    right: 0;
    bottom: 35px;
    background: #fff;
    box-sizing: border-box;
    padding: 10px 0 16px 12px;
    box-shadow: 0 0 10px 5px RGBA(0, 0, 0, .5);
    transition: all ease .3s;
}
.b-infowindow__title {
    color: #555;
    font-size: 26px;
    font-weight: 500;
}

.g-left {
    float: left;
}
.g-right {
    float: right;
}
.g-clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.b-stream {
    width: 736px;
    height: 421px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    border-width: 8px;
    border-style: solid;
    box-shadow: 0 0 7px RGBA(0, 0, 0, .7);
    position: absolute;
}
.m-stream_non-active {
    background: #666;
    opacity: .8;
}
.m-stream_camera2 {
    position: absolute;
    border: 8px solid #fce72c;
    right: 0;
    left: auto;
}
.b-stream__player {
    font-size: 48px;
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    transform: translateY(-50%);
    text-align: center;
    font-weight: 700;
}
.b-stream > * {
    z-index: 5;
}
.b-stream__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 720px;
    height: 405px;
    z-index: 1;
}

.b-brackets {
    height: 88%;
    width: 2.7%;
}
.m-brackets_horizontal {
    width: auto;
    height: 20px;
    margin-bottom: 8px;
}
.m-brackets_horizontal-top {
    margin-top: 8px;
    margin-bottom: 0;
}
.m-brackets_left {
    border-left-width: 1px;
    border-left-style: solid;
}
.m-brackets_right {
    border-right-width: 1px;
    border-right-style: solid;
}
.m-brackets_top {
    border-top-width: 1px;
    border-top-style: solid;
}
.m-brackets_bottom {
    border-bottom-width: 1px;
    border-bottom-style: solid;
}
.m-brackets_camera1 {
    border-color: #00d9ff;
}
.m-brackets_camera2 {
    border-color: #fce72c;
}

.b-infobox {
    height: 40px;
    padding: 0 15px;
    background: RGBA(0, 0, 0, .5);
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #fff;
    font-size: 24px;
}
.m-infobox__title_camera1 {
    color: #00d9ff;
}
.m-infobox__title_camera2 {
    color: #fce72c;
}
.b-infobox__digits {
    font-size: 32px;
    min-width: 110px;
}
.m-infobox__digits_speed {
    width: auto;
    min-width: auto;
}
.b-infobox__light-font {
    font-weight: 300;
    text-transform: lowercase;
}

.b-progress-bar {
    float: left;
    margin-left: 20px;
    display: flex;
    align-items: center;
    height: 40px;
}
.b-progress-bar__item {
    border-radius: 50%;
    text-align: center;
    color: #fff;
    box-sizing: border-box;
    border-style: solid;
    padding: 3px;
    border-width: 7px;
    border-color: transparent;
    font-weight: 700;
    position: relative;
    margin-right: 70px;
}
.m-progress-bar__item_completed {
    border-color: green;
    color: #000;
}
.b-progress-bar__item:after {
    content: '';
    height: 2px;
    width: 50px;
    background: #fce72c;
    margin: 0 10px;
    position: absolute;
    top: 50%;
    right: -80px;
}
.b-progress-bar__item:last-child:after {
    display: none;
}
.b-progress-bar__item:last-child {
    margin-right: 0;
}
.b-progress-bar__inner {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    line-height: 24px;
    background: #fb411b;
    font-size: 16px;
    margin-right: -4px;
    margin-left: -4px;
}
.m-progress-bar__item_completed .b-progress-bar__inner {
    background: green;
    width: 20px;
    height: 20px;
    line-height: 20px;
    margin-right: 0;
    margin-left: 0;
}

.b-label {
    width: 136px;
    height: 41px;
    color: #fff;
    text-transform: uppercase;
    font-size: 24px;
    text-align: center;
    line-height: 41px;
}
.m-label_00d9ff {
    background: url('../img/blue-block.png');
}
.m-label_fce72c {
    background: url('../img/yellow-block.png');
}

.b-providers-list {
    list-style: none;
    margin-top: 7px;
}
.b-providers-list__item {
    position: relative;
    margin-top: 10px;
    color: #fff;
    height: 24px;
    line-height: 22px;
    padding-left: 5px;
    margin-left: 29px;
    font-weight: 500;
}
.m-providers-list__item_00b287 {
    background: #00b287;
}
.m-providers-list__item_00d8ff {
    background: #00d8ff;
}
.m-providers-list__item_fbe72c {
    background: #fbe72c;
}
.m-providers-list__item_fb532c {
    background: #fb532c;
}
.m-providers-list__item_fb2cf4 {
    background: #fb2cf4;
}
.b-providers-list__value {
    font-weight: 900;
}
.b-providers-list__item:before {
    content: '';
    position: absolute;
    width: 29px;
    height: 30px;
    left: -29px;
    top: -3px;
}
.m-providers-list__item_00b287:before {
    background: url('../img/providers-list-bg-00b287.png') no-repeat;
}
.m-providers-list__item_00d8ff:before {
    background: url('../img/providers-list-bg-00d8ff.png') no-repeat;
}
.m-providers-list__item_fbe72c:before {
    background: url('../img/providers-list-bg-fbe72c.png') no-repeat;
}
.m-providers-list__item_fb532c:before {
    background: url('../img/providers-list-bg-fb532c.png') no-repeat;
}
.m-providers-list__item_0057f4:before {
    background: url('../img/providers-list-bg-0057f4.png') no-repeat;
}