<div class="b-wrap">
    <div id="map"></div>
    <div class="b-popup" [ngClass]="{'m-popup_hide': checkedDockerId == null}">
        <div class="b-popup__inner">
            <h5>Image</h5><br>
            <img class="j-street-view" [src]="googleStreetViewSrcs['item' + checkedDockerId]" /><br>
            <ul *ngIf="checkedDockerId != null">
                <li>dockerId: {{dockers['item' + checkedDockerId].clientId}}</li>
                <li>dockerType: {{dockers['item' + checkedDockerId].dockerType}}</li>
                <li>Ip: {{dockers['item' + checkedDockerId].ip}}</li>
            </ul>
        </div>
        <div class="b-popup__close" (click)="closePopup()"></div>
    </div>
    <div class="b-infowindow" *ngIf="providerKeys.length">
        <h2>Providers:</h2>
        <ul>
            <li *ngFor="#key of providerKeys">{{key + ': ' + providers[key].num}}</li>
        </ul>
    </div>
</div>