<div class="b-wrap">
    <header class="b-header">
        <img src="../../src/img/hp-logo.png" alt="" />
        <div class="b-header__title">
            <span class="b-header__main">helion cloud suite</span><br>
            <span class="b-header__sub">powering Fleet Management</span>
        </div>
    </header>
    <div id="map"></div>
    <div class="b-popup" [ngClass]="{'m-popup_hide': checkedDockerId == null}">
        <div class="b-popup__header">
            <span class="b-popup__title">Container Telemetry</span>
            <div class="b-popup__close" (click)="closePopup()"></div>
        </div>
        <div class="b-popup__inner">
            <div class="b-popup__content">
                <div class="b-popup-title">Image:</div>
                <img class="j-street-view" [src]="googleStreetViewSrcs['item' + checkedDockerId]" />
                <div class="b-popup-title m-popup-title_information">Information:</div>
                <ul class="b-params-list" *ngIf="checkedDockerId != null">
                    <li class="b-params-list__item">dockerId:&nbsp;<span class="b-params-list__value">{{dockers['item' + checkedDockerId].clientId}}</span></li>
                    <li class="b-params-list__item">dockerType:&nbsp;<span class="b-params-list__value">{{dockers['item' + checkedDockerId].dockerType}}</span></li>
                    <li class="b-params-list__item">instance IP:&nbsp;<span class="b-params-list__value">{{dockers['item' + checkedDockerId].ip}}</span></li>
                    <li class="b-params-list__item">instance Port:&nbsp;<span class="b-params-list__value">{{dockers['item' + checkedDockerId].port}}</span></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="b-infowindow" *ngIf="providerKeys.length">
        <h3 class="b-infowindow__title">Telemetry Providers:</h3>
        <ul class="b-providers-list">
            <li class="b-providers-list__item m-providers-list__item_{{providers[key].color}}" [style.background-color]="providers[key].color" *ngFor="#key of providerKeys">
                {{key}}: <span class="b-providers-list__value">{{providers[key].num}}</span>
            </li>
        </ul>
    </div>
</div>